{% extends 'base.html' %}

{% block title %}
Job List
{% endblock %}

{% block content %}
<h1>Job List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Applied Date</th>
            <th>First Contact Date</th>
            <th>Last Contact Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td><a href="{{ url_for('job.job_detail', job_id=job.id) }}">{{ job.title }}</a></td>
            <td>{{ job.company.name }}</td>
            <td>{{ job.applied_date }}</td>
            <td>{{ job.first_contact_date }}</td>
            <td>{{ job.last_contact_date }}</td>
            <td>{{ job.status }}</td>
            <td>
                <form style="display: inline;" action="{{ url_for('job.update_job', job_id=job.id) }}" method="get">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form style="display: inline;" action="{{ url_for('job.delete_job', job_id=job.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('job.create_job') }}" class="btn btn-primary">Add New Job</a>
{% endblock %}
