<!-- templates/jobs/update_job.html -->
{% extends 'base.html' %}

{% block title %}
Update Job
{% endblock %}

{% block content %}
<h1>Update Job</h1>
<div class="mt-3 mb-3">
    <form action="{{ url_for('job.update_job', job_id=job.id) }}" method="post">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" value="{{ job.title }}" required>
        </div>
        <div>
            <label for="company">Company:</label>
            <select name="company" required>
                {% for company in companies %}
                    <option value="{{ company.id }}" {% if company.id == job.company.id %}selected{% endif %}>{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="must_have_1">Must Have 1:</label>
            <input type="text" name="must_have_1" value="{{ job.must_have[0] if job.must_have|length >= 1 else '' }}" class="form-control">
        </div>
        <div>
            <label for="must_have_2">Must Have 2:</label>
            <input type="text" name="must_have_2" value="{{ job.must_have[1] if job.must_have|length >= 2 else '' }}" class="form-control">
        </div>
        <div>
            <label for="must_have_3">Must Have 3:</label>
            <input type="text" name="must_have_3" value="{{ job.must_have[2] if job.must_have|length >= 3 else '' }}" class="form-control">
        </div>
        <div>
            <label for="nice_have_1">Nice Have 1:</label>
            <input type="text" name="nice_have_1" value="{{ job.nice_have[0] if job.nice_have|length >= 1 else '' }}" class="form-control">
        </div>
        <div>
            <label for="nice_have_2">Nice Have 2:</label>
            <input type="text" name="nice_have_2" value="{{ job.nice_have[1] if job.nice_have|length >= 2 else '' }}" class="form-control">
        </div>
        <div>
            <label for="nice_have_3">Nice Have 3:</label>
            <input type="text" name="nice_have_3" value="{{ job.nice_have[2] if job.nice_have|length >= 3 else '' }}" class="form-control">
        </div>
        <div>
            <label for="link">Link:</label>
            <input type="text" name="link" value="{{ job.link }}" class="form-control">
        </div>
        <div>
            <label for="applied_date">Applied Date:</label>
            <input type="date" name="applied_date" value="{{ job.applied_date|default('') }}" class="form-control">
        </div>
        <div>
            <label for="first_contact_date">First Contact Date:</label>
            <input type="date" name="first_contact_date" value="{{ job.first_contact_date|default('') }}" class="form-control">
        </div>
        <div>
            <label for="last_contact_date">Last Contact Date:</label>
            <input type="date" name="last_contact_date" value="{{ job.last_contact_date|default('') }}" class="form-control">
        </div>
        <div>
            <label for="status">Status:</label>
            <input type="text" name="status" value="{{ job.status|default('Crickets') }}" class="form-control">
        </div>
        <!-- Add other form fields as needed -->
    
        <button type="submit" class="btn btn-primary mt-3 mb-3">Update</button>
    </form>
</div>

<a href="{{ url_for('job.list_jobs') }}" class="btn btn-secondary">Cancel</a>
<form action="{{ url_for('job.delete_job', job_id=job.id) }}" method="post" style="display: inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
